<style>
    #page {
        margin: auto;
    }
</style>
{% extends 'base.html' %}
{% block content %}
		<div id="page">
            <!-- Posts -->
                <section class="wrapper style1">
                    <div class="container">
                        <section class="col-6 col-12-narrower">
                            <div class="box post">
                                <a href="#" class="image left"><img src="{{estimate.drawing.url}}" alt="" style="width: 200px;" /></a>
                                <div class="inner">
                                    <h3>{{ estimate.project_name }}</h3>
                                    <p>의뢰인 : {{ estimate.buyer_id}}</p>
                                    <p>재료 : {{ estimate.material }}</p>
                                    <p>제작방식 : {{ estimate.method }}</p>
                                    <p>요청사항 : {{ estimate.detail }}</p>
                                    <p>도면파일 : {{ estimate.drawing }}
                                        <button>
                                            미리보기
                                        </button>
                                        <button>
                                            <a href={{estimate.drawing.url}} download={{estimate.drawing.url}} style="color:black; text-decoration:none;">
                                                다운로드
                                            </a>
                                        </button>
                                    </p>
                                </div>    
                            </div>
                        </section>
                    </div>
                </section>
                <!-- CTA -->
				<section id="cta" class="wrapper style3">
					<div class="container">
						<header>
                            <form method='post'>
                                {% csrf_token %}
                                <input type="number" name="price" id="price"> 원</input>
                                <button type="submit" onclick="javascript:btn()">
                                    {% if isUpdate %}
                                        견적 수정
                                        <script> 
                                            function btn(){  
                                                if(confirm("견적 수정 하시겠습니까?")){
                                                    alert("견적 수정 되었습니다.");
                                                }
                                            } 
                                        </script>
                                    {% else %}
                                        견적 제시
                                        <script> 
                                            function btn(){  
                                                if(confirm("견적 제시 하시겠습니까?")){
                                                    alert("견적 제시 되었습니다.");
                                                }
                                            } 
                                        </script>
                                    {% endif %}</button>
                            </form>
						</header>
					</div>
				</section>
        </div>
{% endblock %}
