{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<style>
    #tb {
        margin: 20px;
    }
    #td1 {
        vertical-align: top;
    }
</style>
<head>
    <style type="text/css">
        #Left {width: 440px; height: 700px; text-align: center; overflow:auto;}
        #Center {width: 440px; height: 700px; text-align: center; overflow:auto;}
        #Right {width: 440px; height: 700px; text-align: center; overflow:auto;}
        #Head {font-size: 40; width: 420px; text-align: center;}
        #LeftItem {font-size: 40; width: 420px; background-color: Lavender;}
        #CenterItem {font-size: 40; width: 420px; background-color: AliceBlue;}
        #RightItem {font-size: 40; width: 420px; background-color: Azure;}
    </style>
</head>
<body>
    <table id="tb" style="margin: auto;">
        <tr>
            <td id="td1" style="padding: 20px;">
                <div id="Left">
                    <h1 id="Head">입찰가능품목</h1>
                        {% if estimates %}
                            {% for est in estimates %}
                            <a href={% url 'sell:estimate_detail' est.estimate_id %}>
                                <button id="LeftItem" style="border-radius: 10px;">
                                    <table>
                                        <tr>
                                            <td>
                                                <img style="width:150px; height:150px;" src="{{est.drawing.url}}" alt="도면 미리보기">
                                            </td>
                                            <td>
                                                <ul style="float: center; list-style:none">
                                                    <br>
                                                    <li>구매자: {{ est.buyer_id }}</li><br>  {% comment %} buyer 객체가 연결되어있음 {% endcomment %} 
                                                    <li>제품명: {{ est.project_name }}</li><br>
                                                    <li>희망 재료: {{ est.material }}</li><br>
                                                    <li>제작 방식: {{ est.method }}</li><br>
                                                    <li>갯수: {{ est.pieces }}</li><br>
                                                    <li>요청 사항: {{ est.detail }}</li><br><br>
                                                </ul>
                                            </td>
                                        </tr>
                                    </table>
                                </button>
                            </a>
                            {% endfor %}
                        {% else %}
                            <p>No estimates are available.</p>
                        {% endif %}
                </div>
            </td>
            <td id="td1" style="padding: 20px;">
                <div id="Center">
                    <h1 id="Head">입찰중</h1>
                    {% if bidding %}
                        {% for b in bidding %}
                        <button id="CenterItem" style="border-radius: 10px;">
                            <table>
                                <tr>
                                    <td>
                                        <img style="width:150px; height:150px;" src="{{b.estimate_id.drawing.url}}" alt="도면 미리보기">
                                    </td>
                                    <td>
                                        <ul style="float: center; list-style:none">
                                            <li>구매자: {{ b.estimate_id.buyer_id }}</li><br>
                                            <li>제품명: {{ b.estimate_id.project_name }}</li><br>
                                            <li>희망 재료: {{ b.estimate_id.material }}</li><br>
                                            <li>제작 방식: {{ b.estimate_id.method }}</li><br>
                                            <li>요청 사항: {{ b.estimate_id.detail }}</li><br>
                                            <li>입찰 가격 : {{ b.price | intcomma }}</li><br>
                                            <li>입찰 시각 : {{ b.bid_date }}</li>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </button>
                        {% endfor %}
                    {% else %}
                        <p>No Bidding are available.</p>
                    {% endif %}
                </div> 
            </td>
            <td id="td1" style="padding: 20px;">
                <div id="Right">
                    <h1 id="Head">낙찰받은품목</h1>
                    {% if completed_bid %}
                        {% for c in completed_bid %}
                            <a href={% url 'trade:sell_complete' c.bid_id %}>
                            <button id="RightItem" style="border-radius: 10px;">
                                <table>
                                    <tr>
                                        <td>
                                            <img style="width:150px; height:150px;" src="{{c.estimate_id.drawing.url}}" alt="도면 미리보기">
                                        </td>
                                        <td>
                                            <ul style="float: center; list-style:none">
                                                <li>구매자: {{ c.estimate_id.buyer_id }}</li><br>
                                                <li>제품명: {{ c.estimate_id.project_name }}</li><br>
                                                <li>희망 재료: {{ c.estimate_id.material }}</li><br>
                                                <li>제작 방식: {{ c.estimate_id.method }}</li><br>
                                                <li>요청 사항: {{ c.estimate_id.detail }}</li><br>
                                                <li>낙찰 가격 : {{ c.price | intcomma }}</li><br>
                                                <li>낙찰 시각 : {{ c.bid_date }}</li>
                                            </ul>
                                        </td>
                                    </tr>
                                </table>
                            </button>
                            </a>
                        {% endfor %}
                    {% else %}
                        <p>No completed are available.</p>
                    {% endif %}
                </div>
            </td>
        </tr>
    </table>
</body>
{% endblock %}