{% extends 'base.html' %}
{% block content %}
<div class="d-grid gap-2">
    <button class="btn btn-outline-primary" type="button" onclick="location.href='./23_구매입찰업체현황.html'">
        <div style="float: left"><img src="assets/짱구.jpg" alt="짱구"></div>
        <ul>제품명: 짱구</ul>
        <ul>수량:  1개</ul>
        <ul>재료: PLA</ul>
        <ul>방식: FDM</ul>
        <ul>요청사항: 마감, 도색</ul>
    </button>    
</div>
<div class="d-grid gap-2">
    <button class="btn btn-outline-primary" type="button" onclick="location.href='./23_구매입찰업체현황.html'">
        <div style="float: left"><img src="assets/짱구.jpg" alt="짱구"></div>
        <ul>제품명: 짱구</ul>
        <ul>수량: 1개</ul>
        <ul>재료: PLA</ul>
        <ul>방식: FDM</ul>
        <ul>요청사항: 마감, 도색</ul>
    </button>    
</div>
<div class="d-grid gap-2">
    <button class="btn btn-outline-primary" type="button" onclick="location.href='./23_구매입찰업체현황.html'">
        <div style="float: left"><img src="assets/짱구.jpg" alt="짱구"></div>
        <ul>제품명: 짱구</ul>
        <ul>수량: 1개</ul>
        <ul>재료: PLA</ul>
        <ul>방식: FDM</ul>
        <ul>요청사항: 마감, 도색</ul>
    </button>    
</div>
<div class="d-grid gap-2">
    <button class="btn btn-outline-primary" type="button" onclick="location.href='./23_구매입찰업체현황.html'">
        <div style="float: left"><img src="assets/짱구.jpg" alt="짱구"></div>
        <ul>제품명: 짱구</ul>
        <ul>수량: 1개</ul>
        <ul>재료: PLA</ul>
        <ul>방식: FDM</ul>
        <ul>요청사항: 마감, 도색</ul>
    </button>    
</div>
<div class="d-grid gap-2">
    <button class="btn btn-outline-primary" type="button" onclick="location.href='./23_구매입찰업체현황.html'">
        <div style="float: left"><img src="assets/짱구.jpg" alt="짱구"></div>
        <ul>제품명: 짱구</ul>
        <ul>수량: 1개</ul>
        <ul>재료: PLA</ul>
        <ul>방식: FDM</ul>
        <ul>요청사항: 마감, 도색</ul>
    </button>    
</div>
<div class="d-grid gap-2">
    <button class="btn btn-outline-primary" type="button" onclick="location.href='./18_구매견적요청상세.html'">
        <br>
        +
        <br>
        구매 등록
        <br>
    </button>
</div>
<div class="d-grid gap-2">
    <div style="position: fixed; bottom:20px; right:20px;">
        <button class="btn btn-primary" type="button" onclick="location.href='./18_구매견적요청상세.html'">
            +
            <br>
            구매 등록
        </button>
    </div>
</div>
{% endblock %}
