<style>
    div li {
        list-style: none;
    }
    #image {
        margin: auto;
    }
    #form {
        margin: 15px;
    }
</style>
{% extends 'base.html' %}
{% block content %}
<style>
    .gridLayout {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-column-gap: 30px;
    }
</style>
<div class="d-grid gap-2" id="form">
    <div class="gridLayout">
        {% for estimate in estimate_list %}
        <button class="btn btn-outline-primary" type="button" onclick="location.href='{% url 'buy:estimate_detail' estimate.estimate_id %}'">
            <table style="margin: auto; text-align: center;">
                <tr>
                    <td>
                        <div id="image">
                            <img style="width: 200px; height: 200px" src="{{ estimate.drawing.url }}" alt="도면 미리보기">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table style="width: 200px;">
                            <tr>
                                <td>
                                    <ul style="line-height: 2em;  padding: 0;">
                                        <li>제품명</li>
                                        <li>수량</li>
                                        <li>재료</li>
                                        <li>방식</li>
                                        <li>요청사항</li>
                                    </ul>

                                </td>
                                <td style="text-align: right;">
                                    <ul style="line-height: 2em; ">
                                        <li>{{ estimate.project_name }}</li>
                                        <li>{{ estimate.pieces }}개</li>
                                        <li>{{ estimate.material }}</li>
                                        <li>{{ estimate.method }}</li>
                                        <li>{{ estimate.detail }}</li>
                                    </ul>

                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </button>
        {% endfor %}
    </div>

</div>
<div style="position: fixed; bottom:20px; right:20px;">
    <button class="btn btn-primary" type="button" onclick="location.href='{% url 'buy:register_estimate' %}'">
        +
        <br>
        견적 요청
    </button>
</div>
{% endblock %}