<!DOCTYPE html>
<html>
<head>
    <title>구매자 견적요청 메인(입찰 있는 상태)</title>
</head>
<body>
    <h1>Platform for 3D Print</h1>
    <button style="width:70px; height:30px; font-size:10px; float:right;">내정보</button>
    <button style="width:70px; height:30px; font-size:10px; float:right;">로그아웃</button>
    <br />
    <p>등록된 제품 : 1 개</p>
    <p style="float:right">등록일자 : 2022.09.29</p>
    <div style="float: left">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSI68kYIX0AdW6_KLyayQirEjZWCYduKA5GXQ&usqp=CAU" alt="짱구" />
    </div>
    <div>
        <p>
            제품명 : 짱구
            <br />
            <br />
            수량 : 1개
            <br />
            <br />
            재료 : 필라멘트
            <br />
            <br />
            방식 : FDM
            <br />
            <br />
            요청사항 : 마감, 도색
        </p>
        <div>
            <button style="width:150px; height:50px; font-size:20px; float:right;">n개의 입찰</button>
            <button style="width:150px; height:50px; font-size:20px; float:right;">수정하기</button>
        </div>
    </div>
    <br />
    <br />
    <br />
    <div style="text-align:center;">
        <button style="width:700px; height:250px; font-size:50px;">구매 등록</button>
    </div>
</body>
</html>