<!DOCTYPE html>
<head>
    <title>제작자 경매품목 메인</title>
    <style type="text/css">
        #Left {float: left; width: 620px;}
        #Center {float: left; width: 620px;}
        #Right {float: left; width: 620px;}
        #Head {font-size: 40; width: 620px; text-align: center;}
        #LeftItem {font-size: 40; width: 620px;}
        #CenterItem {font-size: 40; width: 620px; background-color:aqua;}
        #RightItem {font-size: 40; width: 620px; background-color:beige;}
    </style>
</head>
<body>
    <h1>3D Printing Manufacturing Platform</h1>
    <button style="width: 100px; height:30px; font-size:20px; float:right;">로그아웃</button>
    <button style="width: 100px; height:30px; font-size:20px; float:right;">내정보</button>
    <br><br><br><br><br><br>
    <div id="Left">
        <h1 id="Head">경매품목</h1>
        <br><br>
        <a href="page_29.html">
            <button id="LeftItem">
                <div style="float: left"><img src="assets/짱구.jpg" alt="짱구"></div>
                <ul>구매자: A</ul>
                <ul>제품명: 짱구</ul>
                <ul>희망 재료: 필라멘트</ul>
                <ul>제작 방식: FDM</ul>
                <ul>요청 사항: 마감, 도색</ul>
            </button>
        </a>
    </div>
    <div id="Center">
        <h1 id="Head">경매중</h1>
        <br><br>
        <button id="CenterItem">
            <div style="float: left"><img src="assets/철수.jpg" alt="철수"></div>
            <ul>구매자: B</ul>
            <ul>제품명: 철수</ul>
            <ul>희망 재료: 필라멘트</ul>
            <ul>제작 방식: FDM</ul>
            <ul>요청 사항: 없음</ul>
        </button>
        <br>
        <button id="CenterItem">
            <div style="float: left"><img src="assets/흰둥이.png" alt="흰둥이"></div>
            <ul>구매자 : C</ul>
            <ul>제품명 : 흰둥이</ul>
            <ul>희망 재료 : 필라멘트</ul>
            <ul>제작 방식 : FDM</ul>
            <ul>요청 사항 : 없음</ul>
        </button>
    </div> 
    <div id="Right">
        <h1 id="Head">작업중</h1>
        <br><br>
        <button id="RightItem">
            <div style="float: left"><img src="assets/초코비 버즈 케이스.jpg" alt="초코비 버즈 케이스"></div>
            <ul>구매자 : D</ul>
            <ul>제품명 : 초코비 버즈 케이스</ul>
            <ul>희망 재료 : 필라멘트</ul>
            <ul>제작 방식 : FDM</ul>
            <ul>요청 사항 : 마감, 도색</ul>
        </button>
    </div>
</body>
</html>