{% extends 'base.html' %}
{% block content %}
<style>
  .container {
      margin: 0 auto;
      width: 800px;
      background: white;
      padding: 15px;
      text-align: center;
  }

  #login {
    margin: auto;
  }
  div h1 {
    padding: 20px;
  }
</style>
  <div class="container" id="login">  
    <h1>자신이 원하는 출력물을 최적의 가격에!</h1>
    <button type="button" class="btn btn-primary" onclick="location.href='{% url 'common:login' %}'">로그인</button>
    <button type="button" class="btn btn-primary" onclick="location.href='{% url 'common:signup' %}'">회원가입</button>
  </div>
{% endblock %}