{% extends 'base.html' %}
{% block content %}
        <main class="form-signin w-100 m-auto">
          <form>
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
            <div>
                <label for="">아이디*</label>
            </div><br>
            <div class="form-floating">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" value="" required>
              <label for="floatingInput">Email address</label>
            </div><br>
            <div>
                <label for="">비밀번호*</label>
            </div><br>
            <div class="form-floating">
              <input type="password" class="form-control" id="floatingPassword" placeholder="Password" value="" required>
              <label for="floatingPassword">Password</label>
            </div><br>
        
            <div class="checkbox mb-3">
              <label>
                <input type="checkbox" value="remember-me"> 로그인 상태 유지
              </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit" onclick="location.href='./08_메인(로그인후).html'">로그인</button><br><br>
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                <button type="button" class="btn btn-outline-primary">비밀번호 재설정</button>
                <button type="button" class="btn btn-outline-primary" onclick="location.href='./12_회원가입(포지션선택).html'">회원가입</button>
            </div>
          </form>
        </main> 
        {% endblock %}