{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="input-form col-md-12 mx-auto">
            <h4 class="mb-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
                의뢰인으로 가입 
            </h4>
            <form class="validation-form" novalidate>
               
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="name">이름*</label>
                        <input type="text" class="form-control" id="name" placeholder="이름을 입력해주세요." value="" required>
                        <div class="invalid-feedback">
                        이름을 입력해주세요.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email">아이디*</label>
                    <input type="email" class="form-control" id="email" placeholder="아이디를 입력해주세요." required>
                    <div class="invalid-feedback">
                        아이디를 입력해주세요.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email">비밀번호*</label>
                    <input type="email" class="form-control" id="email" placeholder="비밀번호를 입력해주세요.(6자리 이상)" required><br>
                    <input type="email" class="form-control" id="email" placeholder="비밀번호를 한번 더 입력해주세요." required>
                    <div class="invalid-feedback">
                        비밀번호를 입력해주세요.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="address">주소*</label>
                    <input type="text" class="form-control" id="address" placeholder="주소를 입력해주세요." required>
                    <div class="invalid-feedback">
                        주소를 입력해주세요.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="address2">상세주소</label>
                    <input type="text" class="form-control" id="address2" placeholder="상세주소를 입력해주세요.">
                </div>

                <div class="mb-3">
                    <label for="address">전화번호*</label>
                    <input type="text" class="form-control" id="address" placeholder="전화번호를 입력해주세요.('-' 생략)" required>
                    <div class="invalid-feedback">
                        전화번호를 입력해주세요.
                    </div>
                </div>
                <button class="btn btn-primary btn-lg btn-block" type="submit">버튼만 누르면 가입 완료!</button>
            </form>
        </div>
    </div>
    <script>
        window.addEventListener('load', () => {
          const forms = document.getElementsByClassName('validation-form');
    
          Array.prototype.filter.call(forms, (form) => {
            form.addEventListener('submit', function (event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
    
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
    </script>
    {% endblock %}