{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="input-form col-md-12 mx-auto"><br>
            <h4 class="mb-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
                의뢰인으로 가입 
            </h4>

            <form class="validation-form" method="post" action="{% url 'common:signup_buyer' %}">
                {% csrf_token %}
                {% include "form_errors.html" %}
                <div class="mb-3">
                    <label for="first_name">사용자 이름</label>
                    <input type="text" class="form-control" name="first_name" id="first_name" placeholder="이름을 입력해주세요."
                           value="{{ form.lastname.value|default_if_none:'' }}">
                </div>
                <div class="mb-3">
                    <label for="username">아이디</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="아이디를 입력해주세요."
                           value="{{ form.username.value|default_if_none:'' }}">
                </div>
                <div class="mb-3">
                    <label for="password1">비밀번호</label>
                    <input type="password" class="form-control" name="password1" id="password1" placeholder="비밀번호를 입력해주세요.(8자리 이상)"
                           value="{{ form.password1.value|default_if_none:'' }}">
                </div>
                <div class="mb-3">
                    <label for="password2">비밀번호 확인</label>
                    <input type="password" class="form-control" name="password2" id="password2" placeholder="비밀번호를 한번 더 입력해주세요."
                           value="{{ form.password2.value|default_if_none:'' }}">
                </div>
                <div class="mb-3">
                    <label for="TEL">연락처</label>
                    <input type="TEL" class="form-control" name="TEL" id="TEL" placeholder="전화번호를 입력해주세요.('-' 생략)"
                           value="{{ form.TEL.value|default_if_none:'' }}">
                </div>
                <div class="mb-3">
                    <label for="address">주소</label>
                    <input type="address" class="form-control" name="address" id="address" placeholder="주소를 입력해주세요."
                           value="{{ form.address.value|default_if_none:'' }}">
                </div>
                <button class="btn btn-primary btn-lg btn-block" type="submit" onclick="location.href='http://127.0.0.1:8000/common/login/'">버튼만 누르면 가입 완료!</button>
            </form>
        </div>
    </div>
{% endblock %}