{% extends 'base.html' %}
{% load userInfoConverter %}
{% load humanize %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="input-form col-md-12 mx-auto"><br>
            <h4 class="mb-3">
                내 정보
            </h4>
            <form class="mypage-form" method="post" action="">
                <div class="col-md-6 mb-3">
                    <label for="first_name">이름</label>
                    <label type="text" class="form-control" name="first_name" id="first_name" value="" required> {{user.first_name}} </label>
                </div>

                <div class="col-md-6 mb-3">
                    <label for="position">포지션</label><br>
                    <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                        {% if user.flag == "BUYER" %}
                        <label class="btn btn-outline-primary" for="btncheck1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/></svg>
                            의뢰인
                        </label>
                        {% else %}
                        <label class="btn btn-outline-primary" for="btncheck2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tools" viewBox="0 0 16 16">
                            <path d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.27 3.27a.997.997 0 0 0 1.414 0l1.586-1.586a.997.997 0 0 0 0-1.414l-3.27-3.27a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0Zm9.646 10.646a.5.5 0 0 1 .708 0l2.914 2.915a.5.5 0 0 1-.707.707l-2.915-2.914a.5.5 0 0 1 0-.708ZM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11Z"/></svg>
                            생산자
                        </label>
                        {% endif %}
                    </div>
                </div>

    
                <div class="mb-3">
                    <label for="username">아이디</label>
                    <label type="text" class="form-control" name="username" id="username" value="" required> {{ user.username }} </label>
                </div>

                <!--비밀번호는 별표로 표시되어 보이지 않음-->
                <div class="mb-3">
                    <label for="password1">비밀번호</label>
                    <label type="password" class="form-control" name="password" id="password" value="213" required>{{ user.password | convertPassword }} </label>
                </div>
    
                <div class="mb-3">
                    <label for="address">주소</label>
                    <label type="text" class="form-control" name="address" id="address" value=""required> {{ user.address }} </label>
                </div>
    
                <div class="mb-3">
                    <label for="TEL">전화번호</label>
                    <label type="text" class="form-control" name="TEL" id="TEL" value="" required> {{ user.TEL | char_DashFormatting}} </label>
                </div>
                
                <!--여기부터 생산자일 경우에만 존재-->
                {% if user.flag == "SELLER" %}
                <fieldset>
                    <div id="pre_set">
                        <div class="mb-3">
                            <label for="method">가공방식</label><br>
                            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                                <label class="btn btn-outline-primary" for="btncheck1"> {{  method }}</label>
                                </div>
                        </div>
        
                        <div class="mb-3">
                            <label for="material">보유재료</label><br>
                            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                                {% for material in materials %}
                                <label class="btn btn-outline-primary" for="btncheck7">{{ material }}</label>                               
                                {% endfor %}
                            </div>
                        </div><br><br>
                    </div>
                </fieldset>
                {% endif %}
                <!--여기까지 생산자일 경우에만 존재-->
            </form>
        </div>

        <div class="input-form col-md-12 mx-auto"><br>
            <h4 class="mb-3"> 거래내역 </h4>
            <form class="trade_history-form" method="post" action="">
                <!--구매자만 보이는 거래내역-->
                  <!-- 거래내역 클릭 후 상세정보 팝업 -->
                {% if user.flag == "BUYER" %}
                    {% if trade_log %}
                        {% for trade in trade_log %}
                            <button type="button" class="btn btn-primary" onclick="location.href='{% url 'trade:buy_complete' trade.bid_id.bid_id %}'">
                                <div class="row">
                                    <div class="col">
                                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                                        <div class="col-auto d-none d-lg-block" style="text-align: center;">
                                            <div class="row p-1">
                                                <img style="width: 150px; height: 150px"src="{{ trade.estimate_id.drawing.url }}" alt="도안 이미지"> 
                                            </div>
                                        </div>
                                        <div class="col p-4 d-flex flex-column position-static">    
                                            <h3 class="mb">{{ trade.estimate_id.project_name }}</h3>
                                            <div style="color: white; text-align: right;" >
                                                <p>주문금액: {{ trade.bid_id.price | intcomma }}원<br>
                                                    할인금액: (-)0원<br>
                                                    총 결제금액: {{ trade.bid_id.price | intcomma}}원</p>
                                            </div>

                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </button>
                            <!--여기까지 구매자만 보이는 거래내역-->    
                        {% endfor %}
                    {% else %}
                    <p>Transaction details do not exist.</p>
                    {% endif %}
                {% else %}
                    {% if trade_log %}
                        {% for trade in trade_log %}
                        <!--판매자만 보이는 거래내역-->
                        <!-- 거래내역 클릭 후 상세정보 팝업 -->
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" onclick="location.href='{% url 'trade:sell_complete' trade.bid_id.bid_id %}'">
                                <div class="row">
                                    <div class="col">
                                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                                        <div class="col p-4 d-flex flex-column position-static">
                                                    <div class="col-auto d-none d-lg-block" style="text-align: center;">
                                                        <div class="row p-1">
                                                            <img style="width: 150px; height: 150px"src="{{ trade.estimate_id.drawing.url }}" alt=""> 
                                                        </div>
                                                    </div>
                                                    <h3 class="mb">{{ trade.estimate_id.project_name }}</h3>
                
                                            <div style="color: white; text-align: right;" >
                                                <p>주문금액: {{trade.bid_id.price | intcomma}}원<br>
                                                    할인금액: (-)0원<br>
                                                    총 결제금액: {{trade.bid_id.price | intcomma}}원
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                    </div>
                            </button><br>
                                <!--여기까지 판매자만 보이는 거래내역-->
                        {% endfor %}
                    {% else %}
                    <p>Transaction details do not exist.</p>
                    {% endif %}
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}